 <section>
  <div class="card">
    <div class="card-header bg-info "> <h6>Employee List</h6></div>
    <div class="card-body ">
      <div class="row">
        <table class="table  table-bordered table-responsive  table-striped ">
          <thead>
            <tr>
              <th>Department</th>
              <th>Employee Name</th>
              <th>Mobile</th>
              <th>Gender</th>
              <th>Joining Date</th>
              <th>Email</th>
              <th class="text-center ">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.department}}</td>
              <td>{{user.empName}}</td>
              <td>{{user.mobile}}</td>
              <td>{{user.gender}} </td>
              <td>{{user.joinDate}} </td>
              <td>{{user.email}} </td>
              <td class="text-center ">
              <i class="fa fa-edit text-primary me-3 btn btn-link text-decoration-none " (click)="Edit(user.id)"></i>
              <i class="fa fa-info text-info me-3 btn btn-link  "></i>
              <i class="fa fa-trash-o text-danger btn btn-link text-decoration-none  " (click)="Delete(user.id)"></i>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

 </section>
