<div class="card ">
  <div class="card-header bg-info "><h6>Employ Registration</h6></div>
  <div class="card-body">
    <form>
      <div class="row mb-2 ">
        <div class="form-group col ">
          <label >Department</label>
          <select  class="form-control ">
          <option value="">---Select---</option>
          <option value="">Accounts</option>
          <option value="">Manager</option>
          <option value="">Administartor</option>
        </select>
        </div>

      <div class="form-group col ">
        <label >Employ Name</label>
        <input type="text" class="form-control " name="name" id="name">
      </div>

      <div class="form-group col ">
        <label >Mobile </label>
        <input type="tel" class="form-control " name="Mobile" id="Mobile">
      </div>
        
      </div>
      <div class="row mb-2 ">
        <div class="form-group col ">
          <label >Gender</label>
          <select  class="form-control ">
          <option value="">---Select---</option>
          <option value="">Male</option>
          <option value="">Female</option>
          <option value="">Transgender</option>
        </select>
        </div>

      <div class="form-group col ">
        <label >Date of Join</label>
        <input type="date" class="form-control " name="Date-of-join" id="Date-of-join">
      </div>

      <div class="form-group col ">
        <label >Email</label>
        <input type="email" class="form-control " name="email" id="email">
      </div>
        
      </div>
      <div class="row mb-2 ">
        <div class="form-group col ">
          <label >Salary</label>
         <input type="text" class="form-control " name="salary" id="salary">
        </div>

      <div class="form-group col ">
        <label >Password</label>
        <input type="password" class="form-control " name="password" id="password">
      </div>

      <div class="form-group col ">
        <label >Confirm Password</label>
        <input type="password" class="form-control " name="Confirm-password" id="Confirm-password">
      </div>
      </div>
      <div class="row mb-2 ">
        <div class="col-12">
          <div class="form-group form-check ">
            <input type="checkbox" class="form-check-input ">
            <label >Active</label>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="form-group text-center ">
          <button class="btn btn-success me-2  ">Save</button>
          <button class="btn btn-warning me-2  ">Reset</button>
          <button class="btn btn-danger ">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="card">
  <div class="card-header bg-info "> <h6>Employee List</h6></div>
  <div class="card-body ">
    <div class="row">
      <table class="table  table-bordered table-responsive  table-striped ">
        <thead>
          <tr>
            <th>Department</th>
            <th>Employee Name</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Joining Date</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Accounts</td>
            <td>Asad</td>
            <td>03007227838</td>
            <td>Male</td>
            <td>asad123gmail.com</td>
            <td><button>Edit</button> <button>Detail</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>