<div class="card  ">
  <div class="card-header bg-info ">
    <h6>Employ Registration</h6>
  </div>
  <div class="card-body">
    <form [formGroup]="emplooyeForm" (ngSubmit)="formSubmit()">
      <div class="row mb-2 ">
        <div class="form-group col  ">
          <label>Department</label>
          <select class="form-control " id="department" name="department" formControlName="department">
            <option value="">---Select---</option>
            <option value="Accounnts">Accounts</option>
            <option value="Manager">Manager</option>
            <option value="Administartor">Administartor</option>
          </select>
          <div class="text-danger mt-2 " >
            @if (emplooyeForm.get('department')?.hasError('required') && emplooyeForm.get('department')?.touched) {
              <p class=" ">Department is required</p>
              }
            </div>
        </div>



        <div class="form-group col ">
          <label>Employ Name</label>
          <input type="text" class="form-control" id="empName" name="empName" formControlName="empName">
          <div class="text-danger mt-2  ">
            @if (emplooyeForm.get('empName')?.hasError('required') && emplooyeForm.get('empName')?.touched ) {
            <p class="text-danger"> Employee name is required </p>
            }
          </div>

        </div>
      


        <div class="form-group col mb-3  ">
          <label>Mobile </label>
          <input type="tel" class="form-control " name="mobile" formControlName="mobile" id="mobile">
          <div class="text-danger mt-2  ">
            @if (emplooyeForm.get('mobile')?.hasError('required') && emplooyeForm.get('mobile')?.touched ) {
              <p class="text-danger "> Mobile number is required </p>
              }
          </div>
         
        </div>
      </div>


        <div class="row mb-2 ">
          <div class="form-group col ">
            <label>Gender</label>
            <select class="form-control " name="gender" formControlName="gender">
              <option value="">---Select---</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Transgender">Transgender</option>
            </select>
            <div class="text-danger mt-2">
              @if (emplooyeForm.get('gender')?.hasError('required') && emplooyeForm.get('gender')?.touched) {
                <p>Gender required</p>
              }
            </div>
          </div>

          <div class="form-group col ">
            <label>Date of Join</label>
            <input type="date" class="form-control " name="joinDate" formControlName="joinDate" id="Date-of-join">
            <div class="text-danger mt-2">
              @if (emplooyeForm.get('joinDate')?.hasError('required') && emplooyeForm.get('joinDate')?.touched) {
                <p> Date of join must be enter</p>
              }
            </div>
          </div>


          <div class="form-group col ">
            <label>Email</label>
            <input type="email" class="form-control " name="email" formControlName="email" id="email">
            <div class="text-danger mt-2">
              @if (emplooyeForm.get('email')?.hasError('required') && emplooyeForm.get('email')?.touched) {
                <p>Email is required</p>
              }
            </div>
          </div>


        </div>
        <div class="row mb-2 ">
          <div class="form-group col ">
            <label>Salary</label>
            <input type="text" class="form-control " name="salary" formControlName="salary" id="salary">
            <div class="text-danger mt-2 ">
              @if (emplooyeForm.get('salary')?.hasError('required') && emplooyeForm.get('salary')?.touched) {
                <p>Salary required</p>
              }
            </div>

          </div>


          <div class="form-group col ">
          <label >Password</label>
          <div class="position-relative d-flex">
            <input [type]="changetype?'password':'text'" class="form-control" name="password"  formControlName="password" >
            <a class="position-absolute end-0 me-2  mt-2 text-dark "(click)="toggleEye()"> <i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i>
            </a>
          </div>
          <div class="text-danger">
            @if (emplooyeForm.get('password')?.hasError('required') && emplooyeForm.get('password')?.touched) {
              <p>Password is required</p>
            }
          </div>
        </div>


          <div class="form-group col ">
            <label>Confirm Password</label>
            <div class="position-relative  d-flex ">
              <input [type]="changetypeTwo?'password':'text'" class="form-control " name="confirmPass"
                formControlName="confirmPass" id="Confirm-password">
              <a class="position-absolute end-0 me-2  mt-2 text-dark " (click)="toggleEyeTwo()">
                <i [ngClass]="visibleTwo?'fa fa-eye':'fa fa-eye-slash'"></i>
              </a>
            </div>
            <div class="text-danger mt-2">
              @if (emplooyeForm.get('confirmPass')?.hasError && emplooyeForm.get('confirmPass')?.touched) {
                <p> Password did't match </p>
              }
            </div>
          </div>
        </div>

        <div class="row mb-2 ">
          <div class="col-12">
            <div class="form-group form-check ">
              <input type="checkbox" class="form-check-input " name="empStatus" formControlName="empStatus">
              <label>Active</label>
              <div class="text-danger mt-2">
                @if (emplooyeForm.get('empStatus')?.hasError('required') && emplooyeForm.get('empStatus')?.touched) {
                  <p> Employ Must be active  </p>
                }
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="form-group text-center ">
            <button type="submit" [class.disabled]="emplooyeForm.invalid" class="btn btn-success me-2  ">Save</button>
            <button type="button" class="btn btn-warning me-2  " (click)="resetBtn()">Reset</button>
            <button type="button" class="btn btn-danger " (click)="cancelBtn()">Cancel</button>
          </div>
        </div>
    </form>
  </div>
</div>